.fintech-title-h1 {
	margin-bottom: 1em;
}

.fintech-title-h2 {
	margin-bottom: 1rem;
}

.fintech-transactions-form-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fintech-transactions-form {
	display: flex;
	flex-direction: column;
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	box-shadow: 0 0.5rem 0.5rem var(--color-light);
	margin: 0 1rem 1rem 0;
	padding: 1rem;
	width: 100%;
}

.fintech-transactions-form-inputs {
	display: flex;
}

.fintech-transactions-form-label {
	font-size: 1rem;
	margin-right: 0.3rem;
}

.fintech-transactions-form-input {
	margin: 0 1rem 0.5rem 0;
	padding: 0.3rem;
	height: 1.8rem;
	width: 12rem;
	border-radius: var(--border-radius-1);
	background: var(--color-background);
}

.fintech-transactions-form-input:focus {
	border: 1px solid var(--color-primary);
}

.fintech-transactions-form-button {
	margin-bottom: 0.3rem;
	padding: 0.5rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
	transition: all 300ms ease;
	background: var(--color-primary);
	color: var(--color-white);
	box-shadow: 0 0.3rem 0.3rem var(--color-light);
	width: 10rem;
}

.fintech-transactions-form-button:hover {
	background: var(--color-primary-transparent);
}

.fintech-transactions-overflow {
	overflow: hidden;
	border-radius: var(--card-border-radius);
}

.fintech-transactions-table {
	overflow: auto;
}

#fintech-transactions-table-list {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	background-color: var(--color-white);
	padding: 1rem;
	text-align: center;
	border-radius: var(--card-border-radius);
}

#fintech-transactions-table-list th,
#fintech-transactions-table-list td {
	height: 2.8rem;
}

#fintech-transactions-table-list td {
	border-bottom: 0.063rem solid var(--color-light);
}

#fintech-transactions-table-list th {
	position: sticky;
	top: 0;
	background-color: var(--color-white);
}

#fintech-transactions-table-list tr {
	border-radius: var(--card-border-radius);
}

/**************************************** TABLET STYLE ****************************************/
@media only screen and (max-width: 768px) {
	body {
		padding-right: 0.5rem;
	}

	.fintech-title-h1 {
		font-size: 1.4rem;
		margin-bottom: 0.5rem;
	}

	.fintech-title-h2 {
		font-size: 1.2rem;
	}

	.fintech-transactions-form {
		display: flex;
		margin: 0 0.5rem 0.5rem 0;
		padding: 1rem;
		width: 100%;
	}

	.fintech-transactions-form-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.fintech-transactions-form-inputs {
		display: flex;
		flex-direction: column;
	}

	.fintech-transactions-form-input {
		height: 1.4rem;
		width: 25rem;
	}

	#date,
	#amount {
		width: 27rem;
	}

	#type {
		width: 26rem;
	}

	.fintech-transactions-form-button {
		margin-left: 12rem;
	}

	.fintech-transactions-table {
		border-radius: var(--card-border-radius);
		overflow: auto;
	}

	#fintech-transactions-table-list {
		height: 100%;
		width: 100%;
	}

	#fintech-transactions-table-list th,
	#fintech-transactions-table-list td {
		height: 1.8rem;
		font-size: 0.9rem;
	}
}

/**************************************** MOBILE STYLE ****************************************/
@media only screen and (max-width: 375px) {
	.fintech-title-h1,
	.fintech-transactions {
		margin-left: 1rem;
	}

	.fintech-title-h1 {
		font-size: 1.3rem;
	}

	.fintech-title-h2 {
		font-size: 1.1rem;
	}

	.fintech-transactions-form {
		display: flex;
		margin: 0 0.5rem 0.5rem 0;
		padding: 1rem;
		width: 100%;
	}

	.fintech-transactions-form-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.fintech-transactions-form-inputs {
		display: flex;
		flex-direction: column;
	}

	.fintech-transactions-form-input {
		height: 1.5rem;
		width: 13rem;
	}

	#date,
	#amount {
		width: 15rem;
	}

	#type {
		width: 14rem;
	}

	.fintech-transactions-form-button {
		margin-left: 5rem;
	}

	.fintech-transactions-table {
		border-radius: var(--card-border-radius);
	}

	#fintech-transactions-table-list {
		overflow: auto;
	}

	#fintech-transactions-table-list th,
	#fintech-transactions-table-list td {
		height: 1.8rem;
		font-size: 0.8rem;
	}
}
